.header {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: #ffffffea;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
}
