.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #444444;
}

.navbar-link.selected {
  color: #c76b15;
}

@media (max-width: 540px) {
  .navbar-links {
    display: none;
  }
}
