.navbar {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-link {
  font-size: 16px;
  font-weight: 600;
  color: #444444;
}

.burger-icon {
  display: none;
}

@media (max-width: 540px) {
  .navbar-links {
    display: none;
  }

  .burger-icon {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    justify-content: end;
  }
}
